<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakernasela">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SakernasEla">
        <activity
            android:name=".petugas.PengisianDataKeluarga"
            android:exported="true" />
        <activity
            android:name=".petugas.ListKeluarga"
            android:exported="true" />
        <activity
            android:name=".admin.pembagianData.ListChildKeluarga"
            android:exported="true" />
        <activity
            android:name=".admin.pembagianData.PengisianDataChild"
            android:exported="true" />
        <activity
            android:name=".admin.pembagianData.PengisianDataParent"
            android:exported="true" />
        <activity
            android:name=".admin.listPetugas.data.ListData"
            android:exported="true" />
        <activity
            android:name=".admin.listPetugas.data.DetailData"
            android:exported="true" />
        <activity
            android:name=".admin.listKegiatan.persentase.PersentaseKerja"
            android:exported="true" />
        <activity
            android:name=".admin.pembagianData.PembagianDataPetugas"
            android:exported="true" />
        <activity
            android:name=".admin.listPetugas.ListPetugas"
            android:exported="true" />
        <activity
            android:name=".petugas.PetugasAct"
            android:exported="true" />
        <activity
            android:name=".admin.AdminAct"
            android:exported="true" />
        <activity
            android:name=".petugas.LoginPetugas"
            android:exported="true" />
        <activity
            android:name=".admin.LoginAdmin"
            android:exported="true" />
        <activity
            android:name=".JenisUser"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>